<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag "/sessions/create" do %>

<form method="post" action="/sessions/create">
	<div class="flex">
		<label for="name">Name</label>
		<input name="name" id="name" />
	</div>
	<div class="flex">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</div>

	<div class="flex">
		<input type="submit"/>
	</div>
<% end %>
