<h1>Han</h1>

<p class="padded-text">
	Update projects on the <%= link_to "Projects Page", projects_path %>
	or <%= link_to "Log out", sessions_destroy_path %>
	or maybe even the <%= link_to "home page", root_path %>
</p>
