<h1>Han</h1>
<h2>Projects#index</h2>


<%= form_tag "/projects/create" do %>
<form method="post" action="/projects/create">
<table class="projects_index_table">
	<thead>
		<tr>
			<td><label for="name">Name</label></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td><%= project.name %></td>
			<td></td>
		</tr>
		<% end %>
		<tr>
			<td>
				<input name="name" id="name" />
			</td>
			<td>
				<input type="submit"/>
			</td>
		</tr>
	</tbody>
<% end %>

</table>
