<h1>Han</h1>
<h2>Projects#index</h2>


<table class="projects_index_table">
	<thead>
		<tr>
			<td><label for="name">Name</label></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td><%= project.name %></td>
			<td>
				<%= button_to(
						"delete",
						{ controller: :projects, action: "destroy", name: project.name },
						method: :delete
					)
				%>
			</td>
		</tr>
		<% end %>
		<%= form_tag "/projects/create" do %>
		<form method="post" action="/projects/create">
			<tr>
				<td>
					<input name="name" id="name" />
				</td>
				<td>
					<input type="submit"/>
				</td>
			</tr>
		</form>
	</tbody>
<% end %>

</table>
